@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Bloqueia a seleção */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.background {
    width: 100%;
    height: 100%;
    background-color: #F0F1F5;
    position: relative;

    .load {
        width: 100%;
        height: 100%;
        background-color: rgba(189, 185, 185, 0.356);
        z-index: 99;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;

        .container-load {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #ff084677;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            animation: circularLoad infinite 2s linear;

            .circle {
                position: absolute;
                width: 80%;
                height: 80%;
                border-radius: 50%;
                border-top: 5px solid white;
                border-right: 5px solid white;
                border-left: 5px solid rgba(255, 255, 255, 0);
                border-bottom: 5px solid rgba(255, 255, 255, 0);
            }

            .circle:nth-child(1) {
                transform: rotate(65deg);
                animation: circularLoad infinite 3s linear;

            }

        }
    }

    .popUp-error {
        display: none;
        width: 400px;
        height: 100px;
        background-color: #ff0846f8;
        box-shadow: 1px 1px 4px rgba(148, 145, 145, 0.342);
        border-radius: 10px;
        position: fixed;
        top: 10px;
        right: 10px;
        overflow: hidden;
        transition: 0.3s linear all;

        .erro {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                padding: 0 10px;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;

            }
        }

        .carregar {
            width: 100%;
            height: 15px;
            position: absolute;
            bottom: 0;
            background-color: #ff0846f8;


            .temp-carregamento {
                position: absolute;
                right: 0;
                width: 100%;
                height: 100%;
                text-align: end;
                background-color: #fff;
                border-radius: 5px 0 0 5px;
                animation: carregamentoError 2s 0.4s linear forwards;
            }
        }
    }
}

.header {
  position: relative;    /* para stripe diagonal */
  overflow: hidden;      /* esconde excessos da stripe */
  width: 100%;
  height: 88px;
  background: linear-gradient(65deg, #142463 40%, #034694 110%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30%;

  /* faixa diagonal atrás do conteúdo */
  & .divExclusive {
    position: absolute;
    top:    -201px;
    left:   275px;
    width:   980px;
    height:  300px;
    background-color: #B79257;
    transform: rotate(327deg);
    z-index: 1;
  }

  /* conteúdo principal */
  & .baseHeader {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 27px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;

    & img {
      width: auto;
    }

    & p {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #ffffffbd;
    }

    & a {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #ffffffbd;
      text-decoration: none;
    }
  }
}



.main {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F0F1F5;
    gap: 10px;

    & .popUp {
        min-width: 420px;
        max-width: 420px;
        display: flex;
        padding-top: 30px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 4px 25px 25px 0 rgba(0, 0, 0, 0.08);
        border-radius: 2px;
        height: 700px;
        text-align: center;

        & h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 22px;
            font-weight: 600;
            color: #000;
            margin-bottom: 8px;
        }


        .dataUser {

            & p {
                font-family: "Montserrat", sans-serif;
                font-size: 17px;
                font-weight: 400;
                color: #9B9B9B;
                padding: 0 10px;

                & .divisor {
                    color: #e7e6e7;
                    padding: 0 10px;
                }
            }
        }

        .containerData {
            display: flex;
            justify-content: space-around;
            border-bottom: 3px solid #F0F1F5;
            width: 100%;

            & div {
                width: 50%;
                height: 60px;
                padding: 30px 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                & p {
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: #9b9b9b;
                }

                & .ativo {
                    color: black;
                }

                & .ativo::after {
                    content: "";
                    text-align: center;
                    width: 100%;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    border-bottom: 3px solid #142463;
                }
            }
        }

        .etapas {
            width: 420px;
            height: 100%;
            position: relative;
            overflow: hidden;

            .container-etapas {
                width: 1260px;
                height: 100%;
                display: flex;
                position: absolute;
                left: 0%;
                transition: 1s all;

                /* left: 0%; 1º posição  */
                /* left: -100%; posição ao centro */
                /* left: -200%; ultima posicao   */


                & .etapa-dados {
                    min-width: 420px;
                    max-width: 420px;

                    .containerAssinatura {
                        padding: 30px 0 20px 0;

                        & h2 {
                            font-family: "Montserrat", sans-serif;
                            font-size: 22px;
                            font-weight: 600;
                            color: #000;
                        }

                    }

                    .section-contrato {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 25px;

                        & .container-contrato {
                            display: flex;
                            align-items: flex-start;
                            width: 80%;

                            & input {
                                width: 30px;
                                height: 30px;
                            }

                            & p {
                                font-family: "Montserrat", sans-serif;
                                font-size: 15px;
                                font-weight: 400;
                                color: #4b4848;
                                text-align: start;
                                padding-left: 10px;

                            }

                        }

                        & .buttonNext {
                            margin: 10px auto;
                            padding: 12px 120px;
                            background-color: #c0c0c0;
                            /* background-color: #FF0844; cor ativa */
                            border: none;
                            border-radius: 25px;
                            outline-style: none;
                            color: #FFF;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            text-decoration: none;
                            cursor: not-allowed;
                        }

                        & .buttonNext:hover {
                            background-color: #a09d9d;
                        }

                        & .buttonNext:enabled {
                            background: linear-gradient(65deg, #142463 40%, #034694 110%);
                            cursor: pointer;
                        }


                    }

                }

                & .etapa-validacao {
                    min-width: 420px;
                    max-width: 420px;


                    .containerInputs {
                        padding: 30px 0 20px 0;

                        & p {
                            font-family: "Montserrat", sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            color: #4A4A4A;
                            text-align: center;

                            & span {
                                font-weight: bold;
                            }
                        }

                        & .infInputs {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 20px;

                            & img {
                                width: 100px;
                            }

                            & p {
                                color: #4A4A4A;
                                font-family: "Montserrat", sans-serif;
                                font-size: 12px;
                                font-weight: 400;

                                & span {
                                    line-height: 30px;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .backgroundInput {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;

                        & .inputs {
                            width: 50%;
                            margin: 0 auto;
                            padding: 0 0 4px;
                            border-bottom: solid 1px #CDCCCD;

                            & .inputChave {
                                border: none;
                                outline: none;
                                width: 100%;
                                font-family: "Montserrat", sans-serif;
                                font-size: 38px;
                                font-weight: bolder;
                                color: #4A4A4A;
                                letter-spacing: 26px;
                                text-align: center;
                            }
                        }

                        & .buttonNext {
                            margin: 10px auto;
                            padding: 10px 30px;
                            background-color: #c0c0c0;
                            border: none;
                            border-radius: 25px;
                            outline-style: none;
                            color: #FFF;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            text-decoration: none;
                            cursor: not-allowed;
                        }

                        & .buttonNext:hover {
                            background-color: #a09d9d;
                        }

                        & .buttonNext:enabled {
                            background: linear-gradient(65deg, #142463 40%, #034694 110%);
                            cursor: pointer;
                        }

                        & a {
                            color: #1593d4;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            text-align: center;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }

                }

                & .etapa-senha {
                    min-width: 420px;
                    max-width: 420px;

                    .container-senha {
                        padding: 30px 0 20px 0;
                        display: flex;
                        justify-content: center;

                        & p {
                            width: 80%;
                            font-family: "Montserrat", sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            color: #4A4A4A;
                            text-align: center;

                            & span {
                                font-weight: bold;
                            }
                        }

                    }

                    .container-Input-senha {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;

                        & .entrada-senha {
                            display: flex;
                            gap: 15px;
                            justify-content: center;
                            align-items: center;
                            padding: 30px 0;

                            & span {
                                width: 50px;
                                height: 40px;
                                border-bottom: 1px solid rgba(84, 84, 84);

                                & input {
                                    width: 100%;
                                    height: 100%;
                                    text-align: center;
                                    font-family: "Montserrat", sans-serif;
                                    font-size: 38px;
                                    font-weight: bolder;
                                    color: #4A4A4A;
                                    border: none;
                                    outline: none;
                                    pointer-events: none;
                                    /* Impede interação direta */
                                }

                            }
                        }

                        & .teclado-virtual {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            ul {
                                display: grid;
                                grid-template-rows: repeat(2, 1fr);
                                grid-template-columns: repeat(6, 1fr);
                                gap: 8px;
                                justify-content: center;
                                align-items: center;
                                width: 75%;

                                & li {
                                    padding: 10px 0px;
                                    border-radius: 26px;
                                    border: 1px solid rgb(84, 84, 84);
                                    list-style: none;
                                    color: rgb(84, 84, 84);
                                    font-family: "Montserrat", sans-serif;
                                    font-weight: 600;
                                    font-size: 13px;
                                    cursor: pointer;
                                }

                                & li:nth-last-child(1) {
                                    grid-row: 2;
                                    grid-column: 5 / 7;
                                }
                            }
                        }



                        & .buttonNext {
                            margin: 10px auto;
                            padding: 10px 100px;
                            background-color: #c0c0c0;
                            border: none;
                            border-radius: 25px;
                            outline-style: none;
                            color: #FFF;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            text-decoration: none;
                            cursor: not-allowed;
                        }

                        & .buttonNext:hover {
                            background-color: #a09d9d;
                        }

                        & .buttonNext:enabled {
                            background: linear-gradient(65deg, #142463 40%, #034694 110%);
                            cursor: pointer;
                        }

                        & a {
                            color: #1593d4;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            text-align: center;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }

                }

            }

        }



    }

    & .banner {
        width: 250px;
        height: 700px;
        background-image: url(https://www.ib13.bradesco.com.br/ibpf/imagens/novologin/banner/prime.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

    }

}


/* === mobile <= 620px === */
@media screen and (max-width: 620px) {

  .background {
    .popUp-error {
      display: none;
      width: 70%;
      height: 100px;
      top: 10px;
      right: 0;
    }
  }

  .header {
    justify-content: center;
    padding: 0 10px;

    /* stripe ajustada no mobile */
    .divExclusive {
      top:    -150px;
      left:   -350px;
      width:   800px;
      height:  250px;
    }

    /* esconde data e "Cancelar" */
    #data {
      display: none;
    }
    .baseHeader:nth-child(2) {
      display: flex;
    }

    /* ajustes do próprio baseHeader no mobile */
    & .baseHeader {
      position: relative;
      z-index: 2;
      height: 75%;
      padding: 15px;      /* reduzido de 27px */
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 10px;            /* reduzido de 15px */
    }
  }

  .main {
    padding: 80px 0;

    & .popUp {
      min-width: 90%;
      max-width: 90%;
      overflow: hidden;
    }
    & .banner {
      display: none;
    }
  }
}
